@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    line-height: 22px;
    font-family: 'PT sans';
    font-size: 14px;
}

.container {
   width: 980px;
   margin: 0 10px;
}

header {
    background-color: #dcdcdc;
    display: flex;
    padding: 40px;
    justify-content: center;
}   

.header-container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
}

.company {
    display: flex;
    align-items: center;
    width: 270px;
    color: #777777;
}

.company-logo img {
    width: 100px;
    height: 100px;
    object-fit: cover;
}

.company-name {
    margin: 8px;
    align-content: space-between;
}

.company-name-upper {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 12px;
}

.phone-block a {
    color: #777777;
    font-size: 20px;
    text-decoration: none;
    letter-spacing: 1.4px;
    display: inline-block;
    transform: scaleY(1.6);
    transform-origin: bottom;
    line-height: 1.5;
}

.phone-block {
    list-style: none;
}

.contact-info {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.contact-info > a {
    color:#777777;
    font-weight: bold;
    text-decoration: underline dashed 1px;
    justify-self: right;
}

@media screen and (max-width: 1000px) {
    .header-container{
        justify-content: center;
        width: auto;
    }
}

@media screen and (max-width: 573px) {
    .contact-info {
        margin-top: 20px;
    }
}
