@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
  margin: 0;
  padding: 0;
  line-height: 22px;
  font-family: 'PT sans';
  font-size: 14px;
}

.container {
  width: 980px;
  margin: 0 10px;
}

/* ----------------------------------Header style---------------------------------- */

header {
  background-color: #dcdcdc;
  display: flex;
  padding-top: 40px;
  padding-bottom: 46px;
  justify-content: center;
}

.header-container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
}

.company {
  display: flex;
  align-items: end;
  width: 270px;
  color: #777777;
  height: 100%;
}

.company-logo {
  display: flex;
  height: 100%;
}

.company-logo img {
  width: 100px;
  height: 100px;
  object-fit: cover;
}

.company-name {
  margin: 12px;
  margin-bottom: 10px;
  align-content: space-between;
}

.company-name-upper {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 16px;
  line-height: 1;
}

.phone-block a {
  line-height: 1.5;
  display: inline-block;
  transform: scaleY(1.33);
  transform-origin: bottom;
  padding-top: 2px;
  letter-spacing: 1.8px;
  font-weight: 300;
  font-size: 28px;
  text-decoration: none;
  color: #767676;
}


.phone-block {
  list-style: none;
  margin: 4px 0;
}

.contact-info {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.contact-info>a {
  color: #777777;
  font-weight: bold;
  text-decoration: underline dashed 1px;
  justify-self: right;
  font-size: 26px;
  margin-bottom: 28px;
}

/* ----------------------------------Menu style---------------------------------- */

/* Menu style */
.menu {
  display: flex;
  justify-content: center;
  padding: 14px;
  padding-bottom: 24px;
  background-color: #777777;
}

.list-menu {
  display: flex;
  justify-content: center;
  flex-direction: row;
  list-style: none;
}

.menu-item {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 29px;
}

.menu-item>a {
  color: white;
  text-decoration: none;
  font-size: 29px;
}

.menu-item>a:hover {
  text-decoration: underline white 1px;
}

.menu-item:not(:nth-child(1))::before {
  content: "|";
  margin: 10px;
  color: white;
}

/* Burger menu style */
.menu-icon {
  display: none;
  flex-direction: column;
  cursor: pointer;
  width: 30px;
  height: 30px;
}

.menu-icon div {
  height: 4px;
  background-color: whitesmoke;
  margin: 2px 0;
  transition: all 0.3s ease;
}

/* Toggle functionality */
#menu-toggle:checked {
  +.menu-icon div:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
  }

  +.menu-icon div:nth-child(2) {
    display: none;
  }

  +.menu-icon div:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
  }

  +.menu-icon div {
    margin: 5px 0;
  }
}

/* Disable toggle vision, still works fine */
#menu-toggle {
  display: none;
}

/* ----------------------------------Slider style---------------------------------- */

/* Slider centering/resize (i know how it work, but i don`t know HOW it work) */
.slick-slide img {
  width: 100%;
  max-height: 400px;
  object-fit: contain;
  resize: none;
}

.slide-image {
  max-height: 400px !important;
  background-size: cover;
  background-position: center;
}

/* Buttons */
.button-slider {
  border: none;
  color: black;
  width: 30px;
  height: 60px;
  background-color: #d1d1d1a3;
  pointer-events: auto;
  border-radius: 3px;
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  padding: 0 0 5px 0;
}

.button-slider:active {
  background-color: #d1d1d1;
}

.slider {
  position: relative;
}

.slider-image-container {
  position: relative;
  z-index: 1;
}

.slider-buttons {
  padding: 10px;
  position: absolute;
  top: 46%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  display: flex;
  justify-content: space-between;
  width: 97%;
  max-width: 980px;
  pointer-events: none;
}

/* ----------------------------------Catalog style---------------------------------- */

/* Breadcrumbs */
.breadcrumbs {
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.breadcrumbs-item>a {
  text-decoration: none;
  color: #767676;
  margin: 0 5px;
}

.breadcrumbs-item:not(:last-child)>a {
  text-decoration: underline #767676;
}

.breadcrumbs-item:not(:last-child)::after {
  content: "/";
  text-decoration: none !important;
}

.breadcrumbs-wrapper {
  display: flex;
  justify-content: center;
}


.content {
  display: flex;
  flex-direction: row;
  margin: 10px 0;
}

.content-wrapper {
  display: flex;
  justify-content: center;
}

/* Categories */
.left-block-wrapper {
  display: block;
}

.left-block {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.categories-list {
  list-style: none;
}

.categories-list-item>a,
.subcategories-list-item>a {
  text-wrap: nowrap;
}

.categories-list-item>a {
  color: #777777;
  text-decoration: none;
}

.categories-list-item>a:hover {
  text-decoration: underline #777777;
}

.subcategories-list {
  list-style: disc;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease-in;
}

.categories-list-item:hover .subcategories-list {
  max-height: 100px;
}

.subcategories-list-item {
  margin-left: 20px;
  color: #777777;
  height: 17px;
}

.subcategories-list-item>a {
  color: #777777;
  text-decoration: none;
  font-size: 12px;
  display: block;
}

.subcategories-list-item>a:hover {
  color: black;
  text-decoration: underline black;
}

.price-list {
  margin-top: 150px;
}

.price-list-text>div {
  color: #444444;
  font-size: 26px;
  font-weight: bold;
}

/* Product list */

.center-block {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.product-list-wrapper {
  display: flex;
  justify-content: center;
}


.product-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 810px;
}

/* Product style */
.product {
  background-color: #dcdcdc;
  display: flex;
  flex-direction: column;
  padding: 20px;
  margin: 8px;
  width: 210px;
}

.product-image>img {
  width: 210px;
}

.product-description {
  margin-bottom: 40px;
}

.product-description>a {
  text-wrap: wrap;
  text-decoration: none;
  color: #767676;
}

.product-price {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.price>span {
  color: #444444;
  font-size: 22px;
  font-weight: bold;
}

/* Pages */

.pages-list {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.page-number {
  margin: 10px;
}

.page-number>a {
  text-decoration: none;
  color: #888888;
}

.current-page>a {
  font-size: 19px;
  color: #444444;
}

/* About style */
.about-wrapper {
  display: flex;
  justify-content: center;
}

.about-company {
  margin-top: 40px;
  display: flex;
  flex-direction: row;
  border-top: #777777 1px solid;
  max-width: 810px;
}

.about-company>div {
  margin: 20px;
  flex: 1;
  font-size: 11px;
}

.about-company>div:first-child {
  margin-left: 0;
}

.about-company>div:last-child {
  margin-right: 0;
}

/* ----------------------------------Footer---------------------------------- */

.footer-wrapper {
  background-color: #767676;
  padding: 40px;
  display: flex;
  justify-content: center;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.copyright {
  display: flex;
  flex-direction: column;
}

.copyright>span {
  color: white;
  font-size: 11px;
}

.footer-menu-list {
  display: flex;
  flex-direction: column;
  list-style: none;
}

.footer-menu-item>a {
  color: white;
  font-size: 11px;
  width: auto;
}

.about-developer {
  display: flex;
  flex-direction: row;
}

.developer-name {
  margin-left: 5px;
}

.developer-name>a,
.developer-name>div,
.developer-name {
  color: white;
  font-size: 11px;
}

/* ----------------------------------Feedback---------------------------------- */

#feedback-form-wrapper {
  z-index: -1;
  display: flex;
  opacity: 0;
  position: fixed;
  width: 100%;
  height: 100%;
  transition: opacity 0.5s ease;
  top: 0;
  left: 0;
  background-color: rgba(0 0 0 / 0.5);
  justify-content: center;
  align-items: center;
}

#close-button {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  cursor: pointer;
}

#close-button>img {
  background-color: #777777;
  padding: 5px;
}

.feedback {
  margin: 0 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  padding: 20px 65px;
}

.feedback>h1 {
  text-transform: uppercase;
  color: #535353;
  width: 340px;
  text-align: center;
  font-size: 22px;
  margin-bottom: 20px;
}

#feedback-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.important-input,
#message {
  width: 100%;
  display: flex;
  flex-direction: column;
  border: #c3c3c3 1px solid;
  align-items: center;
  margin-bottom: 10px;
  width: 100%;
  padding: 10px;
}

#submit-button {
  background-color: #777777;
  color: white;
  padding: 10px;
  margin: 5px;
  border: none;
  font-size: 22px;
  cursor: pointer;
}

.important-input-wrong:invalid {
  border: #ff8383 1px solid;
  box-shadow: #f1b0b0 0 0 10px 5px inset;
}



/* ----------------------------------Adaptives---------------------------------- */

/* Header adaptive */
@media screen and (max-width: 1080px) {
  .header-container {
    align-items: flex-start;
    justify-content: center;
    width: auto;
  }

  .phone-block a {
    color: #777777;
    font-size: 20px;
    text-decoration: none;
    letter-spacing: 1.4px;
    display: inline-block;
    transform: scaleY(1.6);
    transform-origin: bottom;
    line-height: 1.5;
  }

  .company {
  align-items: start;
  }
}

@media screen and (max-width: 487px) {
  .contact-info {
    margin-top: 20px;
  }
}

/* Menu adaptive */
@media screen and (max-width: 810px) {
  .list-menu {
    flex-direction: column;
  }

  .menu {
    padding: 14px;
  }

  .menu-item {
    padding: 5px;
  }

  #menu-toggle:not(:checked) {
    ~.list-menu {
      display: none;
    }

  }

  .menu-item::before {
    display: none;
  }

  .menu-icon {
    display: flex;
  }
}

/* Content adaptives */
@media screen and (max-width: 964px) {
  .content {
    flex-direction: column;
    align-items: start;
  }

  .price-list {
    display: none;
  }

  .price-list {
    margin: 0;
  }

  .left-block-wrapper {
    width: 100%;
  }
  
  .left-block {
    flex-direction: row;
    justify-content: space-evenly;
  }

  .categories-list-item:before {
    content: ">";
    margin-right: 7px;
    display: inline-block;
    background-color: #d1d1d1a3;
    transition: transform 0.3s ease;
    align-self: center;
    justify-self: center;
    padding: 0px 7px;
    border-radius: 14px;
  }

  .categories-list-item:hover::before {
    transform: rotate(90deg);
  }
}

@media screen and (max-width: 830px) {
  .product-list {
    justify-content: center;
  }
/* 
  .content {
    display: flex;
  } */

  .product-list {
    justify-content: center;
  }

  .about-company {
    flex-direction: column;
    max-width: 540px;
  }

  .about-company>div {
    margin: 20px 0;
  }
}

@media screen and (max-width: 560px) {
  .about-company {
    max-width: 270px;
  }
}

/* Footer adaptive */
@media screen and (max-width: 650px) {
  .footer {
    flex-direction: column;
    align-items: center;
  }

  .footer>div {
    margin-bottom: 10px;
  }

  .footer-menu-list {
    align-items: center;
  }
}

/* Feedback adaptive */
@media screen and (max-width: 530px) {
  .feedback>h1 {
    width: auto;
  }
}